{
  "presets": [ [ "es2015" ] ],
  "plugins": [
//    ["transform-es2015-modules-commonjs", {
//      "noInterop": true
//    }],
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ]
}
